services:
  web:
    container_name: yoursaju-web
    build:
      context: .
      args:
        - BUILDKIT_INLINE_CACHE=1
    restart: always
    ports:
      - '9031:3000'
    env_file:
      - .env
    environment:
      - NODE_ENV=${NODE_ENV:-production}
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://localhost:3000']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

